body,
html {
    padding: 0;
    margin: 0;
    background: #00a6a6;
    font-family: Arial;
    letter-spacing: 3px;
}

.main {
    height: 95vh;
    min-height: 400px;
    padding: 0;
    margin: 0;
    user-select: none;
}

.title_bar {
    text-align: center;
    height: 150px;
    overflow: auto;
    font-family: 'Bahianita', cursive;
    font-size: 18px;
}

.title_bar h1 {
    font-size: 2.3rem;
    margin-bottom: 0;
}

.title_bar h4 {
    margin-top: 5px;
}

.game_area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    height: calc(80vh);
}

.typing {
    padding: 20px 50px;
    height: 50px;
    width: 50px;
    background: #efca08;
    text-align: center;
    border: 2px solid #fa9f0a;
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;

}

.typing.new {
    outline: 4px solid #00a6a6;
}

.slider_top,
.slider_bottom {
    width: 100%;
    background: #39e6ef;
    color: black;
    padding: 8px 0;
    font-size: 1.3em;
    position: relative;
    overflow: hidden;
    height: 100px;
}

#c1,
#c2 {
    overflow: hidden;
    padding: 30px;
    transition: all 1s ease;
}

#c1 span,
#c2 span {
    transition: all 0.5s ease;
    animation: floater 10s linear forwards;
    position: absolute;
    width: 100%;
}

#c1 span.fade,
#c2 span.fade {
    /*left: 50%;*/
    font-size: 3em;
    margin-top: -28px;
    color: salmon;
    text-shadow: 0 0 2px #dedede;
    opacity: 0;
}

@keyframes floater {
    0% {
        transform: translate(-10%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

.play_btn {
    background: #878787;
    color: wheat;
    border: 0;
    padding: 5px 10px;
    font-weight: 700;
    box-shadow: 0 1px 2px 1px #545454;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease;
}

.play_btn:hover {
    box-shadow: 0 0 2px 0 #323232;
}

.play_btn:focus {
    outline: 1px solid brown;
}

.old_keys {
    margin: 0;
    padding: 0;
    height: 0;
    width: 100%;
    text-align: center;
    display: inline;
    margin-top: -50px;
    font-family: 'Luckiest Guy', cursive;
}

#main_title {
    font-family: 'Barriecito', cursive;
}

.typing_word {
    font-family: 'Luckiest Guy', cursive;

}
