<!doctype html>
<html lang="en">

<head>
  <% include ../partials/header.ejs %>
</head>

<style media="screen">
  body {
    background-color: #f8f9fa;
  }
</style>

<body>
  <% include ../partials/nav.ejs %>

    <!--::review_part start::-->
    <section id="vocabularyGames">
        <div class="container vocabulary-games">
            <div class="row justify-content-center">
                <div class="col-xl-5">
                    <div class="section_tittle text-center">
                        <h2>Vocabulary Games</h2>
                    </div>
                </div>
            </div>

              <div class="filters">
                  <ul>
                      <li class="active" data-filter="*">All</li>
                      <li data-filter=".matchingLetters">Matching Letters</li>
                      <li data-filter=".matchingPictures">Matching Pictures</li>
                      <li data-filter=".crossword">Crossword</li>
                      <li data-filter=".typingRacer">Typing Racer</li>
                  </ul>
              </div>

              <div class="row grid">

                <a href="games/matchingPictures?category=Vegetables">
                  <div class="card px-0 mt-4 all matchingPictures">
                    <img class="card-img-top" src="/img/vegetables.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Vegetables</h5>
                      <p class="card-text"><small class="text-muted">Matching Pictures</small></p>
                      <p class="card-text">Learn vocabulary related to vegetables such as a carrot, a bell pepper, a cucumber, etc.</p>
                    </div>
                  </div>
                </a>

                <a href="games/crossword?category=Fruits">
                  <div class="card px-0 mt-4 all crossword">
                    <img class="card-img-top" src="/img/fruits2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fruits</h5>
                      <p class="card-text"><small class="text-muted">Crossword</small></p>
                      <p class="card-text">Learn words related to fruits such as a banana, a raspberry, a watermelon, an orange, etc.</p>
                    </div>
                  </div>
                </a>

                <a href="games/typingRacer?category=Pets">
                  <div class="card px-0 mt-4 all typingRacer">
                    <img class="card-img-top" src="/img/pets.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Pets</h5>
                      <p class="card-text"><small class="text-muted">Typing Racer</small></p>
                      <p class="card-text">Learn words related to house pets such as a dog, a cat, a guinea pig, a hamster, a mouse, etc.</p>
                    </div>
                  </div>
                </a>

                <a href="games/matchingLetters?category=Fruits">
                  <div class="card px-0 mt-4 all matchingLetters" style="">
                    <img class="card-img-top" src="/img/fruits.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Fruits #2</h5>
                      <p class="card-text"><small class="text-muted">Matching Letters</small></p>
                      <p class="card-text">Learn words such as a tangerine, a strawberry, a lemon, grape, a mango, a kiwi etc.</p>
                    </div>
                  </div>
                </a>

                <a href="games/crossword?category=Pets">
                  <div class="card px-0 mt-4 all crossword">
                    <img class="card-img-top" src="/img/pets2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Pets #2</h5>
                      <p class="card-text"><small class="text-muted">Crossword</small></p>
                      <p class="card-text">Learn words related to exotic house pets such as a fish, a snake, a parrot, a lizard, a crab, etc.</p>
                    </div>
                  </div>
                </a>



                <a href="games/typingRacer?category=Vegetables">
                  <div class="card px-0 mt-4 all typingRacer">
                    <img class="card-img-top" src="/img/vegetables2.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Vegetables #2</h5>
                      <p class="card-text"><small class="text-muted">Typing Racer</small></p>
                      <p class="card-text">Learn vocabulary related to vegetables such as a carrot, a bell pepper, a cucumber, etc.</p>
                    </div>
                  </div>
                </a>

                <div class="card card-disabled px-0 mt-4 all matchingLetters">
                  <img class="card-img-top" src="/img/food.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Food & Drinks (Coming Soon!)</h5>
                    <p class="card-text"><small class="text-muted">Matching Letters</small></p>
                    <p class="card-text">Learn words related to food & drinks such as pizza, a hamburger, a steak, soda, wine, etc.</p>
                  </div>
                </div>

                  <div class="card card-disabled px-0 mt-4 all matchingLetters">
                    <img class="card-img-top" src="/img/accessories.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Accessories (Coming Soon!)</h5>
                      <p class="card-text"><small class="text-muted">Matching Letters</small></p>
                      <p class="card-text">Learn words related to accessories such as glasses, a purse, a wallet, a lipstick, a watch, etc.</p>
                    </div>
                  </div>

                  <div class="card card-disabled px-0 mt-4 all crossword">
                    <img class="card-img-top" src="/img/deer.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Wild Animals (Coming Soon!)</h5>
                      <p class="card-text"><small class="text-muted">Crossword</small></p>
                      <p class="card-text">Learn words related to animals such as a penguin, a wolf, a deer, a lion, a fox, a racoon, etc.</p>
                    </div>
                  </div>

                  <div class="card card-disabled px-0 mt-4 all matchingPictures">
                    <img class="card-img-top" src="/img/clothing.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Clothing (Coming Soon!)</h5>
                      <p class="card-text"><small class="text-muted">Matching Pictures</small></p>
                      <p class="card-text">Learn words related to clothing such as a hat, pants, a T-shirt, shorts, a hoodie, a coat,  etc.</p>
                    </div>
                  </div>


                  <div class="card card-disabled px-0 mt-4 all matchingPictures">
                    <img class="card-img-top" src="/img/desserts.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Desserts (Coming Soon!)</h5>
                      <p class="card-text"><small class="text-muted">Matching Pictures</small></p>
                      <p class="card-text">Learn words related to desserts such as a cupcake, a pie, a muffin, a macaroon, a cookie, etc.</p>
                    </div>
                  </div>

                  <div class="card card-disabled px-0 mt-4 all typingRacer">
                    <img class="card-img-top" src="/img/english.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">The Most Common English Words (Coming Soon!)</h5>
                      <p class="card-text"><small class="text-muted">Typing Racer</small></p>
                      <p class="card-text">Learn the most common English words useful in any situation.</p>
                    </div>
                  </div>





              </div>

              </div>

    </section>
    <!--::blog_part end::-->
    <!-- footer part end-->

    <!-- jquery plugins here-->
    <!-- jquery -->
    <!-- <script src="js/jquery-1.12.1.min.js"></script>
     popper js
    <script src="js/popper.min.js"></script>
     bootstrap js
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script> -->

    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- <script src="js/isotope.pkgd.min.js"></script> -->

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="/js/front.js"></script>
</body>

</html>
