<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <!-- Hero Section-->
    <section class="hero">
      <div class="container mb-5">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <h1 class="hero-heading mb-0">Improve your <br> English</h1>
            <div class="row">
              <div class="col-lg-10">
                <p class="lead text-muted mt-4 mb-4">Play English vocabulary games on our platform for free. Anytime. Anywhere.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6"><img src="img/illustration-hero.svg" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
        </div>
      </div>
    </section>
    <!-- Intro Section-->
    <section>
      <div class="container">
        <div class="text-center">
          <h2>English with Sammy </h2>
          <p class="lead text-muted mt-2"> This product is brought to you as a part of the CMPS 115 coursework at UC Santa Cruz!</p><a href="https://piazza.com/class/jx9xe3hbkvl6t8" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </section>
    <!-- Integrations Section-->
<!--    <section>-->
<!--      <div class="container">-->
<!--        <div class="text-center">-->
<!--          <h2>Integrations</h2>-->
<!--          <div class="row">-->
<!--            <div class="col-lg-8 mx-auto">-->
<!--              <p class="lead text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod. eiusmod tempor incididunt ut labore.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="integrations mt-5">-->
<!--          <div class="row">-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/monitor.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">Web desgin</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/target.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">Print</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/chat.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">SEO and SEM</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/idea.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">Consulting</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/coffee-cup.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">Email Marketing</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--              <div class="box text-center">-->
<!--                <div class="icon d-flex align-items-end"><img src="img/pen.svg" alt="..." class="img-fluid"></div>-->
<!--                <h3 class="h4">UX &amp; UI</h3>-->
<!--                <p class="text-small font-weight-light">Lorem Ipsum has been the industry's standard dummy text ever.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

    <!-- Divider Section-->
    <!-- <section class="bg-primary text-white">
      <div class="container">
        <div class="text-center">
          <h2>Awesome Team behind an Awesome Product</h2>
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <p class="lead text-white mt-2"> Our team worked really hard to bring this project to life.</p>
            </div>
          </div>
          <a href="#" class="btn btn-outline-light">Learn More</a>
        </div>
      </div>
    </section> -->

    <!-- Our team Section-->
    <section class="py-5 mb-5 text-white" style="background-color:#379392;">
      <div class="container">
        <div class="text-center">
          <h2>The Awesome Team behind this Awesome Project</h2>
          <div class="row mt-4">
            <div class="col-lg-9 mx-auto">
              <p class="lead text-white mt-2"> Our team worked really hard to bring this project to life.</p>
              <p class="lead text-white mt-2"> Below you could find our contact information and a short description of responsibilities.</p>
            </div>
          </div>
          <!-- <a href="#" class="btn btn-outline-light">Learn More</a> -->
        </div>
      </div>
    </section>
    <section class="py-0">
      <div class="container">
        <div class="row">
          <!-- Gabriela -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Gabriela Medvetska</h3>
              <p class="position text-muted">Product Owner, Fullstack Developer</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
          <!-- Fawaz -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Fawaz</h3>
              <p class="position text-muted">Scrum Master, Front-End Developer</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
          <!-- Juan -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Juan</h3>
              <p class="position text-muted">Fullstack Developer</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
          <!-- Jonathan -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Jonathan</h3>
              <p class="position text-muted">Fullstack Developer</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
          <!-- Kyungmo -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="https://via.placeholder.com/150" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Kyungmo Kim</h3>
              <p class="position text-muted">Fullstack Developer</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
          <!-- Sammy the Slug -->
          <div class="col-md-6 col-lg-4 my-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <div class="person text-center">
              <img src="/img/English-with-Sammy.png" alt="Image" class="img-fluid rounded-circle w-50 mb-5">
              <h3>Sammy the Slug</h3>
              <p class="position text-muted">Source of Inspiration</p>
<!--              <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>-->
<!--              <ul class="ul-social-circle">-->
<!--                <li><a href="#"><i class="fab fa-facebook fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-twitter fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>-->
<!--                <li><a href="#"><i class="fab fa-google fa-2x"></i></a></li>-->
<!--              </ul>-->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section-->
    <!-- <section class="pb-0">
      <div class="container">
        <div class="text-center">
          <h2>Portfolio</h2>
          <p class="lead text-muted mt-2">You can make also a portfolio or image gallery.</p>
        </div>
        <div class="portfolio mt-5">
          <div class="row">
            <div class="col-lg-4 p-0"><a href="img/portfolio-1.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-1.jpg" alt="image" class="img-fluid"></a></div>
            <div class="col-lg-4 p-0"><a href="img/portfolio-2.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-2.jpg" alt="image" class="img-fluid"></a></div>
            <div class="col-lg-4 p-0"><a href="img/portfolio-3.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-3.jpg" alt="image" class="img-fluid"></a></div>
            <div class="col-lg-4 p-0"><a href="img/portfolio-4.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-4.jpg" alt="image" class="img-fluid"></a></div>
            <div class="col-lg-4 p-0"><a href="img/portfolio-5.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-5.jpg" alt="image" class="img-fluid"></a></div>
            <div class="col-lg-4 p-0"><a href="img/portfolio-6.jpg" data-lightbox="image-1" data-title="Some footer information" class="portfolio-item"><img src="img/portfolio-6.jpg" alt="image" class="img-fluid"></a></div>
          </div>
        </div>
      </div>
    </section> -->

    <footer class="main-footer">

      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class = "col-lg-12 text-center">
              <img src="/img/sammy_logo_400px.png" alt="..."  height = 100px>
              <img src="/img/UCSC_logo.png" alt="..." height = 200px>
            </div>
            <div class="col-lg-6 text-center text-lg-left">


              <span class="copyrights-text mb-3 mb-lg-0">&copy; All rights reserved. Appton.co. Design by <a href="https://bootstrapious.com/landing-pages" class="external footer-link">Bootstrapious </a></span>

              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->

            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <!-- <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/jquery.cookie/jquery.cookie.js"> </script> -->



    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/front.js"></script>
  </body>
</html>
