<!DOCTYPE html>
<html>
<head>
    <title>Crossword - English with Sammy</title>
    <link rel="stylesheet" href="../../../../public/css/crosswords.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="crossword"></div>
    <p class="description">Scroll down to see hints!</p>
    <div class="hints"></div>
    <div class="menu">
        <span class="game">Crossword</span>
        <span class="difficulty">Image-mode</span>
        <span class="shuffle">Shuffle</span>
        <span class="cheat">Cheat</span>
        <span class="check">Check Answer</span>
    </div>
    <div class="counter" id="three"><span >3</span></div>
    <div class="counter" id="two"><span>2</span></div>
    <div class="counter" id="one"><span>1</span></div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../../../public/js/crosswords.js"></script>
</body>
</html>