<!DOCTYPE html>
<html>
  <head>

  </head>

  <body>

    <style>
      .game {
        padding-top: 200px;
      }
      .drag-box {
          float: left;
          width: 75px;
          height: 15px;
          margin: 12px;
          padding: 10px;
          border: 1px solid black;
          text-align: center;
      }

      .box002 {
          float: left;
          width: 75px;
          height: 15px;
          margin: 12px;
          padding: 10px;
          border: 1px solid white;
      }

      .pictures {
        /* height: 150px;
        width: 150px; */
        margin: 10px;
        /* border: solid 3px salmon;
        background: white; */
        padding:0;
      }

      img {
        object-fit: cover;
        max-height: 200px;
      }
    </style>

  <div class="container game">
    <p>Score: <text id="score001">0</text></p>
    <div class="box" id="drag-boxes">
      <!-- <div class="drag-box" ondrop="drop(event)" id="drag-box1">
         <text ondragstart="dragStart(event)" draggable="true" id="target001">T</text>
      </div>

      <div class="drag-box" ondrop="drop(event)" id="box002">
         <text ondragstart="dragStart(event)" draggable="true" id="target002">M</text>
      </div>

      <div class="drag-box" ondrop="drop(event)" id="box003">
         <text ondragstart="dragStart(event)" draggable="true" id="target003">O</text>
      </div>

      <div class="drag-box" ondrop="drop(event)" id="box004">
         <text ondragstart="dragStart(event)" draggable="true" id="target004">A</text>
      </div>

      <div class="drag-box" ondrop="drop(event)" id="box005">
         <text ondragstart="dragStart(event)" draggable="true" id="target005">O</text>
      </div>
      <div class="drag-box" ondrop="drop006(event)" id="box006">
         <text ondragstart="dragStart(event)" draggable="true" id="target006">T</text>
      </div> -->
    </div>

    <br /><br /><br /><br />
    <div class="pictures">
      <img id="matchPicture" alt="Image letters need to be matched to">
    </div>
    <div class="box" id="drop-boxes">

    </div>
    <!-- <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:T"></div>

    <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:O"></div>

    <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:M"></div>

    <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:A"></div>

    <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:T"></div>
    <div class="drag-box" ondrop="actualDrop(event)" ondragover="allowDrop(event)" id="b:O"></div><br /><br /><br /> -->

    <button onclick="submit001()">Submit</button>
    <p id="message001"></p>

  </div>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
<script src="js/mLetters.js"></script>
</body>
</html>
