<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/header.ejs %>

    <link rel="stylesheet" href="/css/matching.css">
  </head>

  <body>
    <% include ../../partials/nav.ejs %>

    <style>
      h1 {
        font-weight: 300;
      }
      hr {
        border: 1px solid black;
      }

      .main {
        margin-top: 200px;
      }
      #game_description {
        font-size: 20;
        text-align: center;
        font-weight: 500;
      }
      .title_Page {
        text-align: center;
      }
      #game_Page {
        text-align: center;
        visibility: hidden;
      }
      .word1 {
        background-color: #ffffff;
        position: absolute;
        top: 70%;
        left: 10%;
        width: 170px;
        margin: 15px;
        padding: 15px;
        border: 1px solid black;
      }
      .word2 {
        background-color: #ffffff;
        position: absolute;
        top: 70%;
        left: 37%;
        width: 170px;
        margin: 15px;
        padding: 15px;
        border: 1px solid black;
      }
      .word3 {
        background-color: #ffffff;
        position: absolute;
        top: 70%;
        left: 64%;
        width: 170px;
        margin: 15px;
        padding: 15px;
        border: 1px solid black;
      }
      #quit_Button{
        position : absolute;
        top: 88%;
        left: 30%;
      }
      #restart_Button {
        position : absolute;
        top: 88%;
        right: 30%;
      }
      /* .pic1 {
        /* height:200px;
        weight:200px;
        margin:15px;
        object-fit:contain;
      } */

      .word-pic {
        object-fit: contain;
      }
      
      #end_Page {
        text-align: center;
        visibility: hidden;
      }
      #continue_Button {
        width: 100px;
      }

      #end_Message {

        font-size: 20;
        text-align: center;
        font-weight: 500;

        visibility: hidden;
      }
    </style>


    <div class="container main">
      <div class ="row justify-content-center mt-5">
        <div class = "title_Page">
          <h1 id = "game_Name"> Matching Pair Game</h1>
          <hr>
            <button type="button" class="btn btn-warning btn-lg" id="play_Button"> Play </button>
        </div>

        <div id = "game_Page" >
          <div id = "game_Description" class="alert alert-primary" role="alert">
          Match the word with the picture!
          </div>
          <h3 id = "end_Message" > CONGRATULATIONS YOU FINISHED ALL THE WORDS! </h3>

          <div id = "pictures" >
            <img class ="pic1 word-pic" src="https://via.placeholder.com/200"
            alt="pic1" style = "height: 200px; width 200px; margin: 15px;">
            <img class ="pic2 word-pic" src="https://via.placeholder.com/200"
            alt="pic2" style = "height: 200px; width 200px; margin: 15px;">
            <img class ="pic3 word-pic" src="https://via.placeholder.com/200"
            alt="pic3" style = "height: 200px; width 200px; margin: 15px;">
          </div>

          <div id = "words" >
            <div class = "word1" draggable = "true" > Word 1</div>
            <div class = "word2" draggable = "true" > Word 2</div>
            <div class = "word3" draggable = "true" > Word 3</div>
          </div>
          <div class = "game_Buttons" >
            <button type="button" class="btn btn-danger" id ="quit_Button"> Quit </button>
            <button type="button" class="btn btn-info" id ="restart_Button"> Restart </button>
          </div>
        </div>

        <div id = "end_Page" >
          <h1 id = "game_Name" > Congratulations! You matched all pairs! </h1>
          <button type="button" class="btn btn-success mt-4" id ="continue_Button"> Continue? </button>
        </div>

      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js"></script>
    <script src="/js/matchingpairgame.js"></script>
  </body>
</html>
